body {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
}
main {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
main script {
  display: flex;
  white-space: pre;
  font-family: monospace;
  background-color: #efefef;
}
.top_nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
