body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main {
  max-width: 600px;
}
main script {
  display: flex;
  white-space: pre;
  font-family: monospace;
  background-color: #efefef;
}
